<% layout("/layouts/boilerplate") -%>


<style>
    .list {
        display: flex;
        justify-content: space-between;
        border: 5px solid #222; 
        margin: 0 2rem;
        padding: 1rem; 
        background-color: #fff; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        transition: transform 0.3s ease-in-out; 
    }

    .list:hover {
        transform: scale(1.02); 
    }

    .list1 {
        display: flex;
        width: 100%;
    }

    .image img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .details {
        margin-left: 2rem;
    }

    .details h2 {
        text-align: center;
        color: #333;
    }

    h3 {
        color: #555;
    }

    .row-data {
        display: flex;
        justify-content: space-between;
    }

    button {
        height: 50px;
        width: 150px; 
        border-radius: 20px;
        background-color: #913939; 
        color: whitesmoke;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        transition: background-color 0.3s, color 0.3s; 
    }

    button:hover {
        background-color: #5f1f1f; 
    }
</style>




    <div class="main">
        <% for (let listing of allListings) { %>



            <div class="list mt-4">
                <div class="list1">
                    <div class="image">
                        <img
                            src="https://images.unsplash.com/photo-1573376670774-4427757f7963?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ym94fGVufDB8fDB8fHww">
                    </div>
                    <div class="details">
                        <h2>
                            <%= listing.productName %>
                        </h2>
                        <br>
                        <h3>
                            <%= listing.productDescription %>
                        </h3>
                        <br>
                        <div class="row-data">
                            <div>
                                <h3><b>Price(per peice):</b>Rs. <%= listing.price %>
                                </h3>
                            </div>
                            <div>
                                <h3><b>Quantity:</b>
                                    <%= listing.productQuantity %> pieces
                                </h3>
                            </div>
                            <div>
                                <h3><b>Customer Name:</b>
                                    Rakesh Singh
                                </h3>
                            </div>
                        </div>
                        <div class="btn">
                            <a href="/listings">
                                <button type="submit">Order Again</button>
                            </a>
                            <a href="/listings/<%= listing._id %>/api">
                                <button type="submit">View Details</button>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <% } %>
    </div>